---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Banner from "../components/Banner.astro";
import Card from "../components/Card.astro";
---

<BaseLayout>
  <Header />
  <Banner />
  <section
    style="display: flex; flex-wrap: wrap; justify-content: center; gap: 1rem;"
  >
    <Card title="Producto 1" valor="$15.000" />
    <Card title="Producto 1" valor="$15.000" />
    <Card title="Producto 1" valor="$15.000" />
    <Card title="Producto 1" valor="$15.000" />
    <Card title="Producto 1" valor="$15.000" />
    <Card title="Producto 1" valor="$15.000" />
    <Card title="Producto 1" valor="$15.000" />
    <Card title="Producto 1" valor="$15.000" />
    <Card title="Producto 1" valor="$15.000" />
    <Card title="Producto 1" valor="$15.000" />
    <Card title="Producto 1" valor="$15.000" />
    <Card title="Producto 1" valor="$15.000" />
    <Card title="Producto 1" valor="$15.000" />
  </section>
</BaseLayout>
