---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Banner from "../components/Banner.astro";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout>
  <Header />
  <Banner />
  <section
    style="display: flex; flex-wrap: wrap; justify-content: center; gap: 1rem; margin: 4rem 0"
  >
    <Card title="Producto 1" valor="$15.000" />
    <Card title="Producto 2" valor="$15.000" />
    <Card title="Producto 3" valor="$15.000" />
    <Card title="Producto 4" valor="$15.000" />
    <Card title="Producto 5" valor="$15.000" />
    <Card title="Producto 6" valor="$15.000" />
    <Card title="Producto 7" valor="$15.000" />
    <Card title="Producto 1" valor="$15.000" />
    <Card title="Producto 2" valor="$15.000" />
    <Card title="Producto 3" valor="$15.000" />
    <Card title="Producto 4" valor="$15.000" />
    <Card title="Producto 5" valor="$15.000" />
    <Card title="Producto 6" valor="$15.000" />
    <Card title="Producto 7" valor="$15.000" />

  </section>
  <Footer />
</BaseLayout>
