---
const { title, valor } = Astro.props;
---

<div class="contenedorCard">
  <img
    src="https://images.pexels.com/photos/26774901/pexels-photo-26774901/free-photo-of-madera-relajacion-flor-habitacion.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt=""
  />
  <div class="contenedorInfo">
    <h2>{title}</h2>
    <p>{valor}</p>
  </div>
  <div class="contenedorBtn">
    <button class="btnAñadir"> Añadir al carrito </button>
  </div>
</div>

<!--    SCRIPTS    -->

<script>
  const btnAñadir = document.querySelector('.btnAñadir');

// EVENTOS

btnAñadir.addEventListener("click", () => {
  console.log("Producto añadido al carrito");
});
</script>

<!--    ESTILOS    -->

<style>
  .contenedorCard {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.397);
    border-radius: 0.5rem;
    width: 20rem;
    height: 26rem;
    margin: 2rem 1rem;
    box-shadow: 1px 1px 10px 4px #0000001f;
    transition: ease 0.2s;
    overflow: hidden;
  }
  .contenedorCard:hover {
    transition: ease 0.2s;
    box-shadow: 3px 3px 10px 10px #0000001f;
  }
  img {
    width: 20rem;
    height: 20rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    transition: all 0.5s;
  }
  img:hover {
    transform: scale(1.1);
    transition: all 0.5s;
  }
  .contenedorInfo {
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: column;
    padding: 20px;
    line-height: 1px;
  }
  h2 {
    font-size: x-large;
    font-weight: 500;
  }
  p {
    font-size: medium;
    font-weight: 500;
  }
  .contenedorBtn {
    display: flex;
    justify-content: center;
  }
  .btnAñadir {
    text-align: center;
    background-color: rgb(15, 15, 150);
    color: aliceblue;
    border: none;
    border-radius: 4px;
    margin-bottom: 20px;
    text-decoration: none;
    height: 40px;
    width: 282px;
    font-weight: 700;
  }
  .btnAñadir:hover {
    background-color: #0e1580;
  }
</style>
