<footer>
  <div class="contenedorFooter">
    <p>
      &copy; {new Date().getFullYear()} Tienda de Catalina Velasquez. Todos los derechos
      reservados.
    </p>
    <p>
      <a href="/Terminos/" style="margin-left: 10px;">Términos del Servicio</a>
    </p>
    <p>
      Síguenos en:
      <a
        href="https://facebook.com"
        target="_blank"
        rel="noopener noreferrer"
        style="margin: 0 10px;"
      >
        Facebook
      </a>
      <a
        href="https://instagram.com"
        target="_blank"
        rel="noopener noreferrer"
        style="margin: 0 10px;"
      >
        Instagram
      </a>
    </p>
  </div>
</footer>

<style>
  .contenedorFooter {
    background-color: rgba(0, 0, 0, 0.089);
    text-align: center;
    padding: 1rem;
  }
  p {
    font-weight: 500;
    margin: 15px 0;
  }
</style>
