---
const { title, valor } = Astro.props;

---

<div class="contenedorHeader">
  <div class="contenedorLogo">
    <span class="corazon">❤️</span>
    <a href="/">Tienda de la Cata</a>
  </div>

  <div class="contenedorIcono">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="carrito"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"
      ></path>
    </svg>
    <div class="contadorProducto">
      <span id="numeroContador">0</span>
    </div>
    <div class="contenedorCarritoProductos hiddenCart">
      <div class="productoCarrito">
        <div class="productoInfo">
          <span class="productoCantidad">1</span>
          <p class="tituloProducto">Reloj Unisex</p>
          <span class="precioProducto">$30.000</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="icon-close"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18 18 6M6 6l12 12"></path>
          </svg>
        </div>
      </div>
      <div class="totalCarrito">
        <h3>Total:</h3>
        <span class="totalPagar">$40.000</span>
      </div>
    </div>
  </div>
</div>

<!--    ESTILOS    -->

<style>
  .contenedorHeader {
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 4rem;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
  }
  .contenedorLogo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 12rem;
  }
  a {
    text-decoration: none;
    font-weight: bold;
    color: black;
  }
  a:hover {
    color: blueviolet;
  }
  .corazon {
    width: 1.4rem;
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.4);
    }
    100% {https://github.com/CrislobosDev/tiendaDeLaCata
      transform: scale(1);
    }
  }

  /* Carrito de compras */

  .carrito {
    width: 35px;
    height: 35px;
    stroke: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 10%;
    transition: ease .1s;
  }
  .carrito:hover {
    transform: translate(-2px);
  }
  .icon-close {
    width: 20px;
    height: 20px;
  }
  .contenedorIcono {
    position: relative;
  }
  .contadorProducto {
    position: absolute;
    top: 40%;
    right: -30%;
    background-color: rgb(56, 56, 56);
    color: white;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  #numeroContador {
    font-size: 14px;
  }
  .contenedorCarritoProductos {
    position: absolute;
    top: 50px;
    right: -170%;
    background-color: rgb(255, 255, 255);
    width: 380px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: all .2s;
    margin: 0 10px;
  }
  .hiddenCart {
    display: none;
  }
  .productoCarrito {
    justify-content: space-around;
    align-items: center;
    display: flex;
    padding: 20px;
    align-items: center;
  }
  .productoInfo {
    display: flex;
    flex: 0.8;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px 10px;
  }
  .productoCantidad {
    font-weight: 600;
  }
  .tituloProducto {
    margin: 0;
  }
  .precioProducto {
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
  }
  .icon-close:hover {
    stroke: rgb(216, 22, 22);
  }
  .totalCarrito {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    gap: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.205);
   
  }
  .totalPagar {
    font-size: 20px;
    font-weight: 900;
  }
</style>

<script>
  const btnCart = document.querySelector(".contenedorIcono");
  const contenedorCarritoProductos = document.querySelector(
    ".contenedorCarritoProductos"
  );
  const btnAñadir = document.querySelector(".producto-añadido");


  // Evento para abrir y cerrar el carrito de compras
  btnCart.addEventListener("click", () => {
    contenedorCarritoProductos.classList.toggle("hiddenCart");
  });

  let totalProductos = 0;

  // Escuchar el evento del producto añadido
  window.addEventListener("producto-añadido", (event) => {
    const nuevoProducto = document.createElement("div");
    nuevoProducto.innerHTML = `
    <div class="productoCarrito">
        <div class="productoInfo">
          <span class="productoCantidad">1</span>
          <p class="tituloProducto">{title}</p>
          <span class="precioProducto">{valor}</span>
          <svg
            style="width: 20px;"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="icon-close"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18 18 6M6 6l12 12"></path>
          </svg>
        </div>
      </div>

      <style>
        .productoCarrito {
    justify-content: space-around;
    align-items: center;
    display: flex;
    padding: 20px;
    align-items: center;
  }
  .productoInfo {
    display: flex;
    flex: 0.8;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px 10px;
  }
  .productoCantidad {
    font-weight: 600;
  }
  .tituloProducto {
    margin: 0;
  }
  .precioProducto {
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
  }
  .icon-close:hover {
    stroke: rgb(216, 22, 22);
  }
        
        </style>
    `;
    contenedorCarritoProductos.appendChild(nuevoProducto);
    
  })

   
</script>
