<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tienda de la Cata</title>
  </head>
  <body>
    <style>
      html {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }

      body {
        background-color: rgb(255, 255, 255);
        margin: 0;
        padding: 0;
      }
    </style>
    <slot />
  </body>
</html>
